<!DOCTYPE html>
<html>
  <head>
    <title>Categories API</title>
  </head>
  <body>
    <h1>Categories API</h1>
    <p>
      Please refer to <a href='#'>API documentation</a>
    </p>

    <p>
      If you are not looking for API, click <a href='#'>here</a> to go to the application page.
    </p>
  </body>
</html>
